{
	"presets": [
		[
			"@babel/preset-env",
			{
				"targets": {
					"esmodules": true
				},
				"modules": false,
				"useBuiltIns": "usage"
			}
		]
	],
	"env": {
		"test": {
			"presets": ["@babel/preset-env"]
		}
	}
}
